* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

form {
	width: 550px;
	padding: 30px;
	border-radius: 20px;
	color: #7b7b7b;
	background: #f5f5f5;
	margin: 0 auto;
}
form div {
	margin-bottom: 15px;
	position: relative;
}

label {
	display: block;
	font-size: 14px;
	margin-bottom: 8px;
}
input {
	border-width: 0;
	outline: none;
	margin: 0;
	width: 100%;
	padding: 10px 15px;
	background: #e6e6e6;
}
input:focus,
input:focus {
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}
button {
	padding: 10px 0;
	border-width: 0;
	display: block;
	width: 150px;
	margin: 25px auto 0;
	background: #00eeda;
	color: rgb(255, 255, 255);
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
}

.header {
	display: flex;
	margin: 15px 15px;
}
.header__wrapper {
	width: 600px;
	margin: 0px auto;
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 400px;
}

.body__message {
	width: 550px;
	padding: 30px;
	border-radius: 20px;
	color: #7b7b7b;
	background: #f5f5f5;
	margin: 5px auto;
}
.message__title {
	font-size: 20px;
	margin: 0 0 10px 0;
}
.message__text {
	margin: 0 0 10px 0;
}
